@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.App {
    text-align: center;
    background-image: url(./Images/1256748.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0%;
}

* {
    font-family: "Raleway", sans-serif;
    color: white;
}
.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
}
